
<h6 class="display-4">CheckOut</h6>
<hr />
<div class="row">
    <div class="col-md-8">
        <h6>Adress</h6>
        <form asp-controller="Card" asp-action="CheckOut" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>First Name:</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label>Adress:</label>
                    <textarea class="form-control" ></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Tel</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Mail</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h6>Order Summary</h6>
        <span>Summary Info</span>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <div><h6>Product1</h6></div>
                <span>5000</span>
                <span>2</span>
                <span>10000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><h6>Product2</h6></div>
                <span>3000</span>
                <span>3</span>
                <span>9000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total:</span>
                <strong>19000</strong>
            </li>
        </ul>
    </div>
</div>