@model List<Category>
<div class="list-group">
    <a asp-controller="MiniShop" asp-action="List" asp-route-category="" class="list-group-item list-group-item-action">Tümünü Göster</a>
    @foreach (var item in Model)
    {
        <a asp-controller="MiniShop"
           asp-action="List"
           asp-route-category="@item.Url"
           class="list-group-item list-group-item-action @(ViewBag.SelectedCategory==item.Url ? "active" : "")">@item.Name</a>
    }
</div>