@model ProductListViewModel

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        <div class="row">
            @if (Model.Products.Count == 0)
            {
                <partial name="_NoProduct" />
            }
            else
            {
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                        <partial name="_Product" model="product" />
                        @*@await Html.PartialAsync("_Product", product)*@
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col">
                <nav>
                    <ul class="pagination">
                        @for (int i = 0; i < Model.PageInfo.TotalPages(); i++)
                        {
                            @if (string.IsNullOrEmpty(Model.PageInfo.CurrentCategory))
                            {
                                <li class="page-item @(Model.PageInfo.CurrentPage==i+1 ? "active" : "")">
                                    <a href="/products?page=@(i+1)" class="page-link">@(i+1)</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item @(Model.PageInfo.CurrentPage==i+1 ? "active" : "")">
                                    <a href="/products/@Model.PageInfo.CurrentCategory?page=@(i+1)" class="page-link">@(i+1)</a>
                                </li>
                            }
                        }



                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>