<h6 class="display-4">Forgot Password</h6>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row mb-2">
                <label class="col-md-4 col-form-label">
                    Kayıtlı E-Mail Adresinizi Giriniz;
                </label>
                <div class="col-md-8">
                    <input type="email" name="email" class="form-control" />
                </div>
            </div>
        </div>
            <div class="form-group row mb-2">
                <div class="col-md-8 offset-md-2">
                    <button class=" btn btn-primary" type="submit">Submit</button>
                </div>
        </div>
    </div>
</form>